@model global::Core.Models.Tiles.SkillsTileViewModel

<div class="content languages">
    <h4>@Model.Title</h4>
    @foreach (var skill in Model.Skills)
    {
        <text>
            @* <span class="skill">@skill.Name</span> *@
            <div class="skill progress-bar" role="progressbar" aria-valuenow="@skill.Percentage" aria-valuemin="0" aria-valuemax="100">
                <div class="progress" style="width: @skill.Percentage%;">
                </div>
                <span class="name">@skill.Name</span>
                <span class="percentage">@skill.Percentage%</span>
            </div>
        </text>
    }
</div>