@model Baseline.Models.Tiles.SpotifyTileViewModel

<div class="content spotify">
    <h4>@Model.Title</h4>
    <a href="@Model.PlaylistUrl">
        @if (Model.Width > 1 || Model.Height > 1)
        {
            <img src="@Model.ImageUrl" alt="@Model.Title">
        }
        <text class="info">
            <span class="name">@Model.Name</span>
            <span class="size">@Model.Size songs</span>
        </text>
    </a>
</div>